.benefits-img {
  max-width: 85%;
}

.benefits p {
  font-size: 18px;
}

.benefits-text {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  color: #000000;
  margin-top: 2%;
}

/*LIST*/
li {
  margin: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  margin: 2em 0;
}

li {
  margin: 1em;
  margin-left: 3em;
}

li:before {
  content: "\f0f4";
  font-family: "FontAwesome";
  float: left;
  margin-left: -1.5em;
  color: #0074d9;
}

/*CARD*/
.card {
  bottom: 580px;
  left: 670px;
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 594px;
  top: 5px;
  padding: 10% 11%;
  background-color: white;
  border-radius: 5px !important;
}

/*@media (prefers-reduced-motion: no-preference) {
  .card-body {
    position: none;
    background-color: red;
    border-radius: 5px;
  }
}*/
