.benefits-img {
  max-width: 85%;
}

.benefits p {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #444444;
}

.benefits-text {
  color: #000000 !important;
  margin-top: 5% !important;
}

/*LIST*/
li {
  margin: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  margin: 1em 0;
}

li {
  margin: 1.75em;
  margin-left: 1.75em;
}

li:before {
  content: "\f0b1";
  font-family: "FontAwesome";
  float: left;
  margin-left: -1.75em;
  margin-right: 1em;
  color: #0074d9;
  background: #ffc0c0;
  padding: 10px;
  border-radius: 50%;
}

.icon-purple li:before {
  content: "\f0b1";
  font-family: "FontAwesome";
  float: left;
  margin-left: -1.75em;
  margin-right: 1em;
  color: red !important;
  background: #ffc0c0;
  padding: 10px;
  border-radius: 50%;
}

/*CARD*/
.benefits .card {
  bottom: 585px;
  left: 670px;
  border: none;
}

.benefits .card-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 594px;
  top: 5px;
  padding: 10% 11%;
  background-color: white;
  border-radius: 5px !important;
}
