.faqs {
  background-color: #f5f5f5;
}

.faqs h2 {
  color: #261f43;
  text-align: center;
  margin-bottom: 5%;
}

.faqs-p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5%;
}

.faqs-img {
  max-width: 100%;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
}

.block-faqs {
  max-width: 50%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .block-faqs {
    max-width: 90%;
    margin: auto;
  }
}

/*ACCORDION*/
.MuiAccordion-rounded {
  border-radius: 8px !important;
  margin: 1% 0;
  border: none;
}

.MuiAccordion-root.Mui-expanded:after {
  opacity: 0;
}
.faqs svg {
  color: #004ef5;
}
