/*TEXT*/
.header p {
  font-size: 23px;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .header p {
    font-size: 17px;
  }
}

/*BUTTON*/
.btn {
  background-color: #1a61cc;
  color: white;
  border-radius: 50px;
  padding: 2% 6%;
  font-size: 18px;
}

.col-intro {
  align-self: center;
}

.header-img {
  max-width: 100%;
}
