.how-it-works h2 {
  color: #261f43;
}

.how-it-works p {
  margin-bottom: 0;
}
.how-it-works h3 {
  font-size: 18px !important;
}

.how-img {
  max-width: 100%;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
}

/*CARDS*/
.how-it-works .card {
  padding: 3%;
  border: none;
  border-radius: 16px;
  margin: 2% 0;
  max-width: 85%;
}

.card-yellow .card {
  background-color: #fdf1dd;
}
.card-blue .card {
  background-color: #ebf7fe;
}
.card-green .card {
  background-color: #f1fad7;
}

/*SVG ICONS*/
svg {
  color: #ffa724;
  font-size: 40px !important;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.display-cards {
  margin: 5% 0;
}

.row-cards {
  display: flex;
  flex-direction: row;
}

.display-cards-row {
  margin-left: 5%;
}

@media only screen and (max-width: 768px) {
  .how-it-works .card {
    max-width: 100%;
  }
}
