.intro {
  background-color: #ffefcf;
}

.intro p {
  font-size: 18px;
  line-height: 173%;
  letter-spacing: -0.01em;
  color: #000000;
}

.intro-img {
  border-radius: 8px;
  max-width: 100%;
}

/*CARD*/
.intro .card {
  border: none;
  background-color: white;
  position: static;
  padding: 10% 11%;
}

.intro .card-body {
  position: unset;
  top: 5px;
  padding: 10% 11%;
  background-color: white;
  border-radius: 5px !important;
}

/*BLOCK*/
.block {
  display: flex;
  flex-direction: row;
}
