.intro {
  background-color: #ffefcf;
}

.intro p {
  font-size: 18px;
  line-height: 26px;
  /* or 173% */

  letter-spacing: -0.01em;

  /* Neutral/Just Black */

  color: #000000;
}

/*CARD*/
.card {
  bottom: 585px;
  left: 670px;
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 594px;
  top: 5px;
  padding: 10% 11%;
  background-color: white;
  border-radius: 5px !important;
}
