.navigation .container {
  padding-bottom: 1% !important;
  padding-top: 3% !important;
}

/*.nav-link {
  padding: 0 !important;
}*/

.navigation {
  position: fixed;
  align-items: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 30px;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 9000;
  height: 80px;
}

.logo-main {
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .logo-main {
    max-width: 50%;
  }
}
