/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.App {
  text-align: left;
  font-family: "DM Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: #000000;
  font-size: 46px;
}

h2 {
  color: #004ef5;
  font-size: 34px !important;
  letter-spacing: -0.03em;
}

h3 {
  color: #4c4c4c;
  font-size: 24px !important;
  font-weight: 600 !important;
}

h4 {
  color: #004ef5;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 100%;
  letter-spacing: -0.03em;
  font-family: "DM Sans", sans-serif !important;
}

p {
  color: #525252;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.container {
  padding: 5% 0 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #494949;
}*/
