/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.App {
  text-align: left;
  font-family: "DM Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: #000000;
  font-size: 46px;
  margin-bottom: 2rem !important;
}

h2 {
  color: #004ef5;
  font-size: 34px !important;
  letter-spacing: -0.03em;
}

h3 {
  color: #4c4c4c;
  font-size: 24px !important;
  font-weight: 600 !important;
}

h4 {
  color: #004ef5;
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 100%;
  letter-spacing: -0.03em;
  font-family: "DM Sans", sans-serif !important;
}

p {
  color: #525252;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.container {
  padding: 7% 0 !important;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10% 7% !important;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  border: none !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
}
/*.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #494949;
}*/
